@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #17191C;
    color: #FFFFFF;
    margin: 0;
}

a {
    color: inherit;
}

.header {
    position: relative;
    height: 118px;
    margin-bottom: 112px;
}

.logo {
    display: block;
    position: absolute;
    top: 23px;
    left: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    vertical-align: top;
}

li:last-child {
    margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

span {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.main-page-wrapper {
    background: url("./img/hero.png") center top no-repeat, url("./img/bottom-pic.png") right bottom 307px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1142px;
}

.menu {
    position: absolute;
    top: 45px;
    left: 438px;
}

.menu-footer {
    position: absolute;
    top: 40px;
    left: 327px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item .menu__item--active {
    color:#DA0100;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color:#DA0100;
}

.contacts {
    position: absolute;
    top: 33px;
    right: 0;
    font-style: normal;
    text-align: right;
    line-height: 1.1;
}

.contacts__des {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    text-decoration: 0;
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    margin-top: 1px;
    text-decoration-line: underline;
    color: #FF3D00;
}

.hero__text-section {
    width: 1137px;
    text-align: center;
}

.hero__title {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero__description {
    font-size: 18px;
    margin-bottom: 43.5px;
    font-weight: 400;
    margin-bottom: 58px;
}

.btn {
    background: #FFFFFF;
    border: 2px solid #FF3D00;
    border-radius: 35px;
    padding: 18px 53px 18px 54px;
    color: #FF3D00;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
}

.btn-orange {
    background: #FF3D00;
    border: 2px solid #FF3D00;
    border-radius: 35px;
    padding: 16px 53px 18px 49px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
}

.btn-orange--small {
    background: #FF3D00;
    border: 2px solid #FF3D00;
    border-radius: 35px;
    padding: 18px 38px 18px 38px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
}

.btn-orange:hover {
    color: #FFFFFF;
    background: #ff3c00ee;
}


.btn:hover {
    color: #FFFFFF;
    background: #FF3D00;
}

.section {
    margin-bottom: 143px;
}

.section-about {
    margin-bottom: 74px;
}

.services__card {
    min-height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-right: 22px;
    width: 362px;
}

.services__card:last-child {
    margin-right: 0px;
}

.services__header-img {
    padding: 40px 249px 21px 29px;
}

.services__content {
    color: #000000;
    padding: 0px 34px 35px 22px;
}

.services__content-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 17px;
}

.content__blok {
    vertical-align: top;
    margin-right: 18px;
}

.content__blok:last-child {
    margin-right: 0;
}

.content__blok-option {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 25px;
    display: inline-block;
    width: 124px;
}

.services__content-description {
    font-size: 14px;
    margin-bottom: 56px;
}

.services__button {
}

.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 20px;
}

.news__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 28px 29px;
    min-height: 121px;
}

.section__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 50px;
}

.margin-service {
    margin-bottom: 179px;
    margin-top: 254px;
}

.news__date {
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 12.5px;
}

.news__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 4px;
}

.news__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.news {
    margin-bottom: 57.5px;
}

.pager {
    text-align: center;

}

.pager__display {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.pager__list {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    line-height: 21px;
    font-size: 16px;
}

.pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__item--active {
    background: #FF5500;
    border-radius: 50%;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    line-height: 32px;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("./img/cameraman.png") center center / cover no-repeat;
}

.about__desc {
    display: inline-block;
    vertical-align: top;
    width: 785px;
    background: #FFFFFF;
    padding: 67px 81px 83px 81px;
    margin-left: -142px;
    margin-top: 98px;
}

.about__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 39px;
}

.about__desc-text {
    font-size: 16px;
    line-height: 27px;
    color: #060606;
    margin-bottom: 61px;
}

.about__desc-text p {
    margin-bottom: 20px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}

.footer-container__content {
    border-top: 1px solid #2e3033;
}

.footer {
    height: 142px;
    position: relative;
}

.socials {
    position: absolute;
    top: 32px;
    right: 255px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background: url("./img/telegram.png");
}

.socials__item--icon--vk .socials__link {
    background: url("./img/vk.png");
}

.socials__item--icon--facebook .socials__link {
    background: url("./img/f.png");
}

.socials__item--icon--instagram .socials__link {
    background: url("./img/in.png");
}