@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #151617;
    color: #FFFFFF;
    margin: 0;
}

a {
    color: inherit;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header {
    padding-top: 30px;
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.header__col--align--left {
    justify-content: flex-start;
}

.logo {
    display: block;
   
    
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    vertical-align: top;
} 

/* li:last-child {
    margin-right: 0;
}  */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

span {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 1142px;
}

.menu__item {
  display: inline-flex;
  justify-content: center;
  margin-right: 54px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item .menu__item--active {
    color:#DA0100;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color:#DA0100;
}

.contacts {
    display: inline-block;
    position: relative;
    font-style: normal;
    text-align: right;
    line-height: 1.1;
}

.contacts__des {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    text-decoration: 0;
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    margin-top: 1px;
    text-decoration-line: underline;
    color: #FF3D00;
}

.contacts__dropdown {
    position: absolute;
}

.contacts__dropdown::after {
    content: "";
    /* display: inline-block; */
    position: absolute;
    width: 160px;
    height: 80px;
    background: url("./img/upper.png") no-repeat;
}

.btn {
    background: #FFFFFF;
    border: 2px solid #FF3D00;
    border-radius: 35px;
    padding: 18px 40px 18px 40px;
    color: #FF3D00;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
}

.btn--color--grey {
    background: #8E8E8E;
    color: #FFFFFF;
    border: 2px solid;
}

.btn--color--orange {
    background: #FF3D00;
    color: #FFFFFF;
    border: 2px solid;
}

.btn-orange {
    background: #FF3D00;
    border: 2px solid #FF3D00;
    border-radius: 35px;
    padding: 16px 53px 18px 49px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
}

.forms__btns {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    margin-right: 13px;
}

.form__btn:last-child {
    margin-right: 0px;
}

.btn-orange--small {
    background: #FF3D00;
    border: 2px solid #FF3D00;
    border-radius: 35px;
    padding: 18px 38px 18px 38px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:none;
}

.btn-orange:hover {
    color: #FFFFFF;
    background: #ff3c00ee;
}


.btn:hover {
    color: #FFFFFF;
    background: #FF3D00;
}

.section {
    margin-bottom: 143px;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager__display {
    margin-right: 25px;
}

.pager__list {
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    line-height: 21px;
    font-size: 16px;
}

.pager__item--active {
    background: #FF5500;
    border-radius: 50%;
    color: #FFFFFF;
}

.pager__link {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    line-height: 32px;
}

.footer-container__content {
    border-top: 1px solid #2e3033;
}

.footer {
    position: relative;
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}

.socials {
  margin-right: 74px;
}

.socials__item {
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: inline-flex;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--icon--telegram .socials__link {
    background: url("./img/css_sprites.png") -10px -66px;
}

.socials__item--icon--vk .socials__link {
    background: url("./img/css_sprites.png") -66px -66px;
}

.socials__item--icon--facebook .socials__link {
    background: url("./img/css_sprites.png") -10px -10px;
}

.socials__item--icon--instagram .socials__link {
    background: url("./img/css_sprites.png") -66px -10px;
}


/* services page */

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 1142px;
}

.top-line {
    display: flex;
    flex-direction: column;
    min-height: 423px;
    padding-bottom: 26.5px;
    background: #0000 url("./img/top-line.png") right 15% top no-repeat;
}

.page-title {
    font-weight: 800;
    font-size: 72px;
    line-height: 98.05px;
    color: #FFFFFF;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    line-height: 19.07px;
    margin-right: 4px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: 700;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
    margin-right: 4px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.page-content {
  background:#FFFFFF;
  color: #303030;
  line-height: 27px;
  font-size: 16px;
  padding: 95px 0 100px;
}

.services {
  margin-bottom: 14.5px;
}

.service {
  display: flex;
  min-height: 333px;
  margin-bottom: 58px;
  /* margin-right: 171px; */
}

.services__item {
  margin-bottom: 48px;
}

.service__img {
  width: 43.4%;
  /* margin-right: 1%; */
}

.service__content {
  flex: 1;
  color: #000000;
  padding: 11px 2px 0px 22px;
}

.service__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.03px;
  margin-bottom: 28.5px;
  color: #000000;
}

.service__desc {
  margin-bottom: 52.5px;
  color: #303030;
}

.inner-section {
  padding-top: 73px;
  padding-bottom: 96px;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: #1A1B1E;
  margin-bottom: 59px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin-top: 52px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 192px;
  height: 126px;
  align-items: center;
  justify-content: center;
}

.partners__item {
  margin-left: 119px;
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0;
}


/* reviews page */

.reviews__item {
    margin-bottom: 17px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 28px;
    background: #F4F5F5;
}

.reviews {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 71px;
}

.review__photo {
    margin-right: 22px;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    color: #2E77A4;
    text-decoration: none;
    margin-bottom: 1px;
}

.review__user:hover {
    text-decoration: underline;
}

.review__user:after {
    content: url("./img/vk-blue\ 1.png");
    height: 30px;
    margin-left: 6px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    line-height: 17.7px;
    color: #303030;
    padding: 10px 25px;
    border-radius: 35px;
    background: #E7E7E7;
}

.tag--bg--color {
    background: #F2D4C9;
}

.avatar {
    display: inline-block;
    height: 142px;
    width: 142px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.review__title {
    font-size: 30px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 13px;
}

.review__content-text {
    font-size: 16px;
    line-height: 27px;
    color: #818181;
    margin-bottom: 48.5px;
}

.review__date {
    font-weight: 600;
    line-height: 27px;
    color: #1A1B1E;
}

.separator {
    background: #373737 url("./img/party.png") right 20% bottom no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.separator__content {
    max-width: 48%;
}

.separator__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65.37px;
}

.separator__title-span {
    color: #FF5400;
}

.form__row {
    display: flex;
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--textarea {
    height: 232px;
}

.form__controls {
    display: flex;
    margin-bottom: 21px;
}

.form__controls-title {
    font-size: 18px;
    line-height: 24.5px;
    color: #1A1B1E;    ;
    width: 39%;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-right: -18px;
    margin-bottom: -10px;
}

.controls__elem {
    cursor: pointer;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 18px;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #F2D4C9;
}

.controls__checkbox {
    display: none;
}

/* welcome page */

.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("./img/bg.png") center bottom / cover no-repeat, url("./img/rec.png") center bottom / cover no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__logo {
    margin-bottom: 38px;
}

.icon {

}